@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0753ce, #f5f7fa);
}
html {
    font-size: 10px;
}
/*------------------------------------*/

.container {
    border: 2px solid darkslategrey;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    background-color: transparent;
    color: white;
    margin: 5vh 0;
    padding: 10px;
    width: 50vw;
}
/*------------------------------------*/

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 1px 2px turquoise;
}
h3 {
    font-size: 2.3rem;
    margin-top: 4.5rem;
}
input {
    font-size: 2.2rem;
    padding: 0.5rem;
}
p {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-shadow: 1px 1px 1px white;
}
#btn {
    font-size: 2rem;
    margin-top: 3rem;
    padding: 5px;
    width: fit-content;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(204, 254, 254);
}
/*------------------------------------*/

/* TO REMOVE SPINNERS IN INPUT FIELD */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*------------------------------------*/

/* HOVER EFFECT FOR DEVICES THAT HAVE A POINTER */
@media (hover:hover) and (pointer:fine)
{
    input:hover {
        background-color: rgb(227, 253, 253);
    }
    #btn:hover {
        background-color: rgb(169, 255, 246);
    }
}

@media screen and (max-width: 325px) 
{
    html {
        font-size: 5.3px;
    }
    .container {
        width: 90vw;
        margin: 10vh 0;
    }
    
}

@media screen and (min-width: 326px) and (max-width: 500px) 
{
    html {
        font-size: 8px;
    }
    .container {
        width: 90vw;
        margin: 10vh 0;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 900px) 
{
    html {
        font-size: 10px;
    }
    .container {
        width: 80vw;
        margin: 15vh 0;
    }
    
}